body {
    font-family:Montserrat;
    margin: 0;
    padding: 0;
    color: #1A273E;
}

.panel-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
}

.panel-item {
    border: 10px solid #E0F1E0;
    padding: 15px;
    text-align: center;
    /* background-color: #EDF5FB; */
}

.panel-item h5 {
    height: 75px; 
    font-family: Montserrat;
    font-weight: bold;
}

.panel-item img {
    height: 235px; 
    width: 165px;
    object-fit: contain; 
    background-color: #FFF;
    border: 10px solid #FFF; 
    border-radius: 5px;
}

.custom-button {
    border: none;
    background-color: transparent;
    padding: 0; 
}
