.name-heading {
    font-family: "Cormorant Garamond";
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: normal;
    padding: 0px 60px;
}

.panel-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 25px;
    padding: 20px 60px;
}

.panel-item {
    border: 15px solid #D6EDED;
    padding: 20px;
    text-align: center;
    border-radius: 25px;
}

.icon-heading{
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: normal;
}

.panel-item img {
    height: 235px; 
    width: 165px;
    object-fit: contain; 
    border-radius: 5px;
}

.custom-button {
    border: none;
    background-color: transparent;
    padding: 0; 
}
