<div class="spacing">
  <button *ngIf="userStatus==='Admin'" class="home-btn" type="button" [routerLink]="['/Admin', username]" mat-raised-button>Home Page</button>
  <button *ngIf="userStatus==='Standard'"class="home-btn" type="button" [routerLink]="['/Standard', username]" mat-raised-button>Home Page</button>
</div>


<br><br>
<table>
  <tr>
    <td><h1>Request List</h1></td>
      <td>
        <form class="form-details" [formGroup]="priorityForm">
        <mat-form-field *ngIf="priorityListSet$ | async as priority">
          <mat-label>Filter by Priority</mat-label>
          <mat-select formControlName="priority" (selectionChange)="typeDropdown($event.value)">
            <mat-option *ngFor="let i of priority" [value]="i">
              {{i}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        &nbsp;
        <button type="button" class="all-btn2" (click)="cancelFilter()" mat-button>X</button>

      </form>

    </td> 
  </tr>
</table>

<br>
<!-- /IF HAVE FILTER---------------------------------------------------------------------------->
<div *ngIf="filter; else noFilter">
      <div class="spacing-table" *ngIf="filteredList$ | async as filteredReqs">

        <div *ngIf="filteredReqs.length > 0; else noFilter">
        <table class="table table-striped" style="text-align: center">
            <thead style="font-weight: bolder; font-size: 25px;">
              <tr>
                <th>ID</th>
                <th>Service Request</th>
                <th>Manager</th>
                <th>Contractor</th>
                <th>Location</th>
                <th>Due Date</th>
                <th>Priority</th>
                <th>Issue Image</th>
                <th>Resolved Image</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              
                <tr *ngFor="let r of filteredReqs">
                  <td style="width: 3%">{{ r.requestID }}</td>
                  <td style="width: 12%">{{ r.request }}</td>
                  <td style="width: 10%">{{ r.adminname }}</td>
                  <td style="width: 10%">
                    <div *ngIf="r.contractorname; else defaultcontractname">
                    {{ r.contractorname }}
                    </div>
                    <ng-template #defaultcontractname>
                      ---NIL---
                    </ng-template>
                  </td>
                  
                  <td style="width: 8%">{{ r.locationaddress }}</td>
                  <td style="width: 9%">{{ r.duedate }}</td>
                  <td style="width: 3%">{{ r.priority }}</td>
                  <td style="width: 12%; vertical-align:middle;">
                    <img class="img-crop" src="{{r.photo}}">
                  </td>
                  
                  <td style="vertical-align:middle;">
                  <div *ngIf="r.fixedphoto; else defaultphoto" style="width: 12%">
                    <img class="img-crop" width=250px src = "{{r.fixedphoto}}">
                  </div>
                  <ng-template #defaultphoto>
                    <img width=250px src = "/assets/logos/WorkInProgress.png">

                  </ng-template>
                  </td>
                  
                  <td style="width: 11%; vertical-align:middle;">
                    <img style="width:100%; vertical-align: 100%" src="/assets/logos/{{r.approvalstatus}}.png">
                    <div *ngIf="r.rejectreason" style="text-align: left;">
                    <br>
                    <u style="padding: 10px; font-weight: bold;">Rejected Reason:</u> <p style="font-weight: normal; padding:10px">{{r.rejectreason}}</p>
                    </div>

                  </td>

                  <td style="width: 11%; vertical-align:middle;">
                    <button *ngIf="userStatus==='Admin'"  class="btns" style="width: 100%" type="button" mat-button  (click)="updateStatus(r.requestID)">Update Status</button>


                    <button *ngIf="userStatus==='Standard'" class="btns" style="width: 100%" type="button" mat-button (click)="scheduledate(r.requestID, r.locationaddress)">Schedule Date</button>
                    <br><br>
                  </td>                
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>


<!-- /IF HAVE NO FILTER-------------------------------------------------------------------------->

<ng-template #noFilter>
        <div class="spacing-table" *ngIf="reqList$ | async as reqs">

          <div *ngIf="reqs.length > 0 ; else noReqList">

          <table class="table table-striped" style="text-align: center">
              <thead style="font-weight: bolder; font-size: 25px;">
                <tr>
                  <th>ID</th>
                  <th>Service Request</th>
                  <th>Manager</th>
                  <th>Contractor</th>
                  <th>Location</th>
                  <th>Due Date</th>
                  <th>Priority</th>
                  <th>Issue Image</th>
                  <th>Resolved Image</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                
                  <tr *ngFor="let r of reqs">
                    <td style="width: 3%">{{ r.requestID }}</td>
                    <td style="width: 12%">{{ r.request }}</td>
                    <td style="width: 10%">{{ r.adminname }}</td>
                    <td style="width: 10%">
                      <div *ngIf="r.contractorname; else defaultcontractname">
                      {{ r.contractorname }}
                      </div>
                      <ng-template #defaultcontractname>
                        ---NIL---
                      </ng-template>
                    </td>
                    
                    <td style="width: 8%">{{ r.locationaddress }}</td>
                    <td style="width: 9%">{{ r.duedate }}</td>
                    <td style="width: 3%">{{ r.priority }}</td>
                    <td style="width: 12%; vertical-align:middle;">
                      <img class="img-crop" src="{{r.photo}}">
                    </td>
                    
                    <td style="vertical-align:middle;">
                    <div *ngIf="r.fixedphoto; else defaultphoto" style="width: 12%">
                      <img class="img-crop" width=250px src = "{{r.fixedphoto}}">
                    </div>
                    <ng-template #defaultphoto>
                      <img width=250px src = "/assets/logos/WorkInProgress.png">

                    </ng-template>
                    </td>

                    <td style="width: 11%; vertical-align:middle;">
                      <img style="width:100%; vertical-align: 100%" src="/assets/logos/{{r.approvalstatus}}.png">
                      <div *ngIf="r.rejectreason" style="text-align: left;">
                      <br>
                      <u style="padding: 10px; font-weight: bold;">Rejected Reason:</u> <p style="font-weight: normal; padding:10px">{{r.rejectreason}}</p>
                      </div>

                    </td>

                    <td style="width: 11%; vertical-align:middle;">
                      <button *ngIf="userStatus==='Admin'"  class="btns" style="width: 100%" type="button" mat-button  (click)="updateStatus(r.requestID)">Update Status</button>


                      <button *ngIf="userStatus==='Standard'" class="btns" style="width: 100%" type="button" mat-button (click)="scheduledate(r.requestID, r.locationaddress)">Schedule Date</button>
                      <br><br>
                    </td>
                  </tr>
              </tbody>
          </table>
          </div>
      </div>
        
      <div>
        <ng-template #noReqList>
          <h2><u>No Requests</u></h2>
        </ng-template>
      </div>

</ng-template>

