<div class="spacing"><button class="home-btn" type="button" [routerLink]="['/Standard', username]" mat-raised-button>Home Page</button></div>

<br>
<h1>Schedule Date: [ {{requestId}} ]</h1>
<br>
<form class="form-details" [formGroup]="scheduleForm" (ngSubmit)="scheduleMeeting()">
  <br>
  <table>
    <tr>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>Summary: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>
        <mat-form-field>
          <mat-label>enter summary</mat-label>
          <input matInput formControlName="summary" type="text" />
          <mat-icon matSuffix>text_format</mat-icon>
        </mat-form-field>  
      </td>
    </tr>
    <br>
    <tr>
      <td></td>
      <td>Location:</td>
      <td style="font-size: 30px"><i>{{locationaddress}}</i><br></td>
    </tr>
    <br>
    <tr>
      <td></td>
      <td>Details:</td>
      <td>
        <mat-form-field>
          <mat-label>enter details</mat-label>
          <input matInput formControlName="details" type="text" />
          <mat-icon matSuffix>text_format</mat-icon>
        </mat-form-field>  
      </td>
    </tr>
    <tr>
      <td></td>
      <td>Scheduled Time: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>
        <input class="calendar" type="datetime-local" formControlName="scheduleTime" (dateChange)="isInvalid(scheduleForm.value.scheduleTime)"/>
        <span class="error-msg" *ngIf="message">{{message}}</span>
        <br>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>Email: <br></td>
      <td>
        <mat-form-field>
          <mat-label>email</mat-label>
          <mat-icon matSuffix>email</mat-icon>
          <input type="email" matInput formControlName="email" placeholder="e.g. abc@example.com">
          <mat-error *ngIf="scheduleForm.get('email')?.hasError('email')">Please enter a valid email address</mat-error>
        </mat-form-field>
      </td>
    </tr>
    <br>
    <tr>
      <td></td>
      <td colspan="2">
        <button class="btns" type="submit" [disabled]="isInvalid(scheduleForm.value.scheduleTime)">Schedule Appointment</button>
      </td>
    </tr>
  </table>

</form>