<button type="button" [routerLink]="['/Admin']">Home Page</button>
<h1>Request List</h1>

<div *ngIf="reqList$ | async as reqs">

    <!-- {{reqs|json}} -->

    <table border="1">
        <thead>
          <tr>
            <th>ID</th>
            <th>Service Request</th>
            <th>Due Date</th>
            <th>Priority</th>
            <th>Issue Image</th>
            <th>Fixed Image</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          
            <tr *ngFor="let r of reqs">
              <td style="width: 10%">{{ r.requestID }}</td>
              <td style="width: 10%">{{ r.request }}</td>
              <td style="width: 10%">{{ r.duedate }}</td>
              <td style="width: 10%">{{ r.priority }}</td>
              <td style="width: 25%">
                <img width=300px src = "{{r.photo}}">
              </td>
              <td style="width: 25%"><img width=300px src="/assets/logos/WorkInProgress.png">EITHER INPUT IMAGE OR DEFAULT</td>
              <td style="width: 10%">Approved/Not Approved/Pending Completion/To be Validated</td>
            </tr>
        </tbody>
    </table>
</div>