<button type="button" [routerLink]="['/Admin']">Home Page</button>

<h1>Service Request Form</h1>
<!-- add location -->
<form [formGroup]="serviceRequestForm" (submit)="saveData()">
    <table>
        <tr>
            <td>Service Request:</td>
            <td><input placeholder="min 5 characters" type="text" formControlName="request"></td>
        </tr>
        <tr>
            <td>Due Date:</td>
            <td><input type="date" formControlName="duedate" (input)="isInvalid(serviceRequestForm.value.duedate)">&nbsp;{{message}}</td>
        </tr>

        <tr>
            <td>Priority:</td>
            <td><input type="number" min="1" max="5" formControlName="priority">&nbsp; <i>(1-most impt, 5-least impt)</i></td>
        </tr>
        <tr>
            <td>Upload Image:</td>
            <td>
              <input type="file" accept="images/*" formControlName="photo" #photoElem (input)="uploadedTrue()">
              
              <!-- <input type="file" accept="images/*" formControlName="photo" #photo (input)="uploadedTrue()" [style.display]="previewOn ? 'none' : 'block'"> -->
            <td>
            <td *ngIf="uploaded">
              <button type="button" (click)="deleteUploadedPhoto()">X</button>
            </td>
        </tr>
       
        <!--<tr>
          <td></td>
          <td>
            <button type="button" (click)="webcam()" [disabled]="uploaded">Take a picture</button>
          </td>
        </tr>
        <tr *ngIf="webcamOn">
          <td>Webcam:</td>
          <td>
              <webcam [width]="width" [height]="height" [trigger]="trigger$" (imageCapture)="captured($event)">
              </webcam>
    
              <button type="button" class="btn btn-warning btn-lg col-2" (click)="snap()">Snap</button>
            
          </td>
        </tr>
        <tr *ngIf="previewOn">
          <td>Captured Image:</td>
          <td>
            <div>
            <img [width]="width" [src]="capturedImage" >
            </div>
          </td>
        </tr>
        <tr *ngIf="previewOn">
          <td></td>
          <td><button type="button" (click)="clear()">Clear</button>
            <button type="button" (click)="clear()">Upload</button></td>
        </tr>   -->   
    </table>
    <br>
    
    <button type="button" (click)="addRequest()" [disabled]="isInvalid(serviceRequestForm.value.duedate)">Add Request</button>
    &nbsp;&nbsp;
    <button type="submit" >Submit</button>
</form>

<br>
<div *ngIf="req$ | async as reqs">
  <div *ngIf="reqs.length > 0 ; else noReq">
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Service Request</th>
          <th>Due Date</th>
          <th>Priority</th>
          <th>Image</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        
          <tr *ngFor="let r of reqs">
            <td style="width: 15%">{{ r.requestID }}</td>
            <td style="width: 15%">{{ r.request }}</td>
            <td style="width: 15%">{{ r.duedate }}</td>
            <td style="width: 15%">{{ r.priority }}</td>
            <td style="width: 30%">
              <!-- {{ r.photo }} -->
              <img [width]="width" src = "{{r.photo}}">
            </td>
            <td style="width: 10%">
              <button type="button" (click)="deleteRequest(r.requestID)">X</button>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #noReq>
  <h2>No Requests</h2>
</ng-template>

<!-- <app-map-main #autocomplete3></app-map-main> -->

<app-map-main></app-map-main>


<button type="button" (click)="locationDetails()">xxx</button>


<!-- <button type="button" (click)="isInvalid()">X</button> -->



<!-- <div *ngIf="entries$ | async as entries">
    <table border="1">
      <thead>
        <tr>
          <th style="width: 20%">Date</th>
          <th style="width: 70%">Text</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of entries">
          <td> {{ e.date | date }}</td>
          <td> {{ e.text }}</td>
          <td> {{ e.entryType }}</td>
        </tr>
      </tbody>
    </table>
  </div> -->

<!-- <div *ngFor="let r of requestcompNum" #formValue>
    <app-requestcomp></app-requestcomp>    
</div>

<button type="button" (click)="addRequest()">Add Request</button>
&nbsp;&nbsp;

<button type="button" (click)="process()">Submit</button> -->
