<div class="spacing"><button class="home-btn" type="button" [routerLink]="['/Admin', username]" mat-raised-button>Home Page</button></div>

<br>

<h1>Service Request Form</h1>
<br><br>
<form class="form-details" [formGroup]="serviceRequestForm" (ngSubmit)="saveData()">
  <table>
    <tr>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>Service Request: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>
        <mat-form-field>
          <mat-label> min 5 characters &nbsp;&nbsp;&nbsp;</mat-label>
          <input matInput formControlName="request" type="text" />
          <mat-icon matSuffix>text_format</mat-icon>
        </mat-form-field>  
      </td>
    </tr>
    <tr>
            <!-- <td><input type="date" formControlName="duedate" (input)="isInvalid(serviceRequestForm.value.duedate)">&nbsp;{{message}}</td> -->
      <td></td>
      <td>Due Date:</td>
      <td>
        <mat-form-field>
          <mat-label> due date &nbsp;&nbsp;&nbsp;</mat-label>
          <input matInput formControlName="duedate" type="text" [matDatepicker]="picker"/>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

      </td>
    </tr>
    <tr>
      <td></td>
      <td>Priority:</td>
      <td>
        <mat-form-field>
          <mat-label> (1-most impt, 5-least impt) &nbsp;&nbsp;&nbsp;</mat-label>
          <input matInput min="1" max="5" formControlName="priority" type="number" />
          <mat-icon matSuffix>format_list_numbered</mat-icon>
        </mat-form-field> 
      </td>
    </tr>
    <br>
    <tr>
      <td></td>
      <td>Upload Image:</td>
      <td>
        <input type="file" accept="images/*" formControlName="photo"  #photoElem (input)="uploadedTrue()">
        <button *ngIf="uploaded" type="button" (click)="deleteUploadedPhoto()">X</button>
      </td>
    </tr>
    <br>
    <tr>
      <td></td>
      <td>Location:</td>
      <td>
        <app-map-main #autocomplete3>
        </app-map-main>
        
        <!-- <input type="checkbox" (click)="confirmlocation()" formControlName="confirm">
        <label for="confirm">Confirm Location</label> -->

      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</form>
