.spacing-btn-left{
    padding: 20px 60px;
    display: flex;
    flex-direction: flex-end;
    justify-content: left;
}

.home-btn{
    color-scheme: #D6EDED;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 20px;
    padding: 20px 60px;
    background-color: #D6EDED;
}

