<div class="spacing"><button class="home-btn" type="button" [routerLink]="['/Admin', username]" mat-raised-button>Home Page</button></div>

<br>

<table>
  <tr>
    <!-- SECTION 1 -->
    <td>
      <h1>Service Request Form</h1>
      <br><br>
      <form class="form-details" [formGroup]="serviceRequestForm" (ngSubmit)="saveData()">
        <table>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>Service Request: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>
              <mat-form-field>
                <mat-label> min 5 characters &nbsp;&nbsp;&nbsp;</mat-label>
                <input matInput formControlName="request" type="text" />
                <mat-icon matSuffix>text_format</mat-icon>
              </mat-form-field>  
            </td>
          </tr>
          <tr>
                  <!-- <td><input type="date" formControlName="duedate" (input)="isInvalid(serviceRequestForm.value.duedate)">&nbsp;{{message}}</td> -->
            <td></td>
            <td>Due Date:</td>
            <td>
              <mat-form-field>
                <mat-label> due date &nbsp;&nbsp;&nbsp;</mat-label>
                <input matInput formControlName="duedate" type="text" [matDatepicker]="picker"/>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
      
            </td>
          </tr>
          <tr>
            <td></td>
            <td>Priority:</td>
            <td>
              <mat-form-field>
                <mat-label> (1-most impt, 5-least impt) &nbsp;&nbsp;&nbsp;</mat-label>
                <input matInput min="1" max="5" formControlName="priority" type="number" />
                <mat-icon matSuffix>format_list_numbered</mat-icon>
              </mat-form-field> 
            </td>
          </tr>
          <br>
          <tr>
            <td></td>
            <td>Upload Image:</td>
            <td>
              <input type="file" accept="images/*" formControlName="photo"  #photoElem (input)="uploadedTrue()">
              <button *ngIf="uploaded" type="button" (click)="deleteUploadedPhoto()">X</button>
            </td>
          </tr>
          <br>
          <tr>
            <td></td>
            <td>Location:</td>
           
            <td>
              <app-map-main #autocomplete3>
              </app-map-main>  
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>
              <input type="checkbox" (click)="confirmlocation()" formControlName="confirm">
              <label for="confirm" style="font-size: 20px"> &nbsp;&nbsp;Confirm Location</label>
            </td>
          </tr>
          <br>
          <tr>
            <td></td>
            <td colspan="2" >
              <!-- [disabled]="isInvalid(serviceRequestForm.value.duedate)" -->
              <button class="btns" type="button" (click)="addRequest()" >Add Request</button>
              &nbsp;&nbsp;
              <button class="btns" *ngIf="req$ | async as reqs" type="submit" [disabled]="reqs.length <= 0">Submit</button>
            </td>
          </tr>
          <br><br><br>
        </table>
      </form>
      </td>
      <!-- SECTION 2 -->
      <td>
        <div *ngIf="req$ | async as reqs">
        <div *ngIf="reqs.length > 0 ; else noReq">
          <table border="1">
            <thead>
              <tr>
                <th>ID</th>
                <th>Service Request</th>
                <th>Location</th>
                <th>Due Date</th>
                <th>Priority</th>
                <th>Image</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              
                <tr *ngFor="let r of reqs">
                  <td style="width: 5%">{{ r.requestID }}</td>
                  <td style="width: 15%">{{ r.request }}</td>
                  <td style="width: 15%">{{ r.locationaddress }}</td>
                  <td style="width: 15%">{{ r.duedate }}</td>
                  <td style="width: 15%">{{ r.priority }}</td>
                  <td style="width: 30%">
                    <!-- {{ r.photo }} -->
                    <img [width]="width" src = "{{r.photo}}">
                  </td>
                  <td style="width: 5%">
                    <button type="button" (click)="deleteRequest(r.requestID)">X</button>
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      <ng-template #noReq>
        <h2>No Requests</h2>
      </ng-template>
    </td>
  </tr>
</table>