<!-- <p>map-main works!</p>

<app-map-autocomplete (placeChanged)="location = $event" placeholder="Enter location..." #autocomplete2></app-map-autocomplete>



<div class="display-area" >
        <div>
            [hidden]="!location.address"
          <app-place-card [data]="fromValue"></app-place-card>
          <app-place-card [data]="toValue"></app-place-card>
        </div>
    <app-map-mapdisplay [locationDetails]="location"></app-map-mapdisplay>
</div> -->



<table>
  <thead>
    <tr>
      <td>
        <div class="input-area">
          <app-map-autocomplete (placeChanged)="location = $event" #autocomplete2>
            
          </app-map-autocomplete>
        </div>  
      </td>
      <td>
        <div class="display-area" [hidden]="!location.address">
          <app-map-display [location]="location" >
          </app-map-display>
        </div>
      </td>
    </tr>
  </thead>
</table>
      
    