<br><br><br><br><br>

<div class="login">

    <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Login&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
    <br><br>

    <form class="main-font" [formGroup]="loginForm" (ngSubmit)="processForm()">
        <table>
            <tr>
                <td>Username: </td>
                <td>
                    <mat-form-field>
                    <mat-label> Username: </mat-label>
                    <mat-icon matPrefix>people</mat-icon>
                    <input matInput formControlName="username" type="text" />
                    </mat-form-field>
                </td>
            </tr>
            
            
            <br>
            <tr>
                <td>Password: &nbsp;&nbsp;&nbsp;</td>
                <td>
                    <mat-form-field>
                        <mat-label> Password: </mat-label>
                    <mat-icon matPrefix>password</mat-icon>
                    <input matInput formControlName="password" type="password" />
                    </mat-form-field>
                </td>
            </tr>
            <br><br><br>
            <tr>
                <td colspan="2" style="align-items: center; text-align: center;">
                    <button class="button" type="submit" [disabled]="loginForm.invalid" mat-raised-button>Login</button>
                </td>
            </tr>
        </table>
    </form>
</div>