<input type="text" id="autocomplete">

<script>
  let autocomplete;
  function initMap(){
    autocomplete = new google.maps.places.Autocomplete(
      document.getElementById('autocomplete'),
      {
        types:['establishment'],
        componentRestrictions:{'country':['SG']},
        fields:['place_id','geometry', 'name']
      });
  }
</script>
<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSXOg-emPOlzRnb2Z-d5Js9l_6Hy4BCRg&loading=async&libraries=places&callback=initMap">
</script>
