h1 {
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    font-size: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    line-height:175%;
}

.background {
    background-color: #D6EDED;
    background-size:contain;
    height: 175px;
}

.logo {
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    font-size: 100px;
    justify-content: flex-end;
    align-items: left;
    padding: 20px 60px;
}

.userstatus {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: left;
    padding: 20px 60px;
}





